nav {
    border-bottom: 2px solid white
}
nav a {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin:auto 0 auto 7px;
    padding:0;
    display: inline-block;
    cursor:pointer;
}

.formSearchNav input {
    border-left: 1px solid white !important;
    border-radius: 0;
}
.formSearchNav input:focus,
.formSearchNav input:active {
    box-shadow:none;
    outline:none;
    
}

.formSearchNav button {
    border-left: 1px solid white !important;
    border-radius: 0;
}

button {
    color: whitesmoke;
}